* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen */

form#right {
    position: fixed;
    top: 40px;
    right: 20px;
    font-size: 20px;
    width: 250px;
}

#right p {
    display: block;
    margin: 10px 0px;
}

.add_piece {
    display: inline-block;
    padding: 4px 8px;
    border: 4px solid silver;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 4px;
}

.add_piece.selected {
    border-color: magenta;
}

#right .add_piece.disabled {
    background-color: silver;
    color: grey;
}

#your_player {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid silver;
}

#right .black {
    color: white;
    background-color: black;
}

#right .white {
    color: black;
    background-color: white;
}

#right .controls button {
    font-size: 20px;
    padding: 4px 8px;
}

/* hex */
hex, hex b, hex i {
    width: 124px;
    height: 110px;
    position: absolute;
    display: inline-block;
    background-size: 124px 110px;
    z-index: 1;
}

/* hex borders */
hex.can_move_here b { background-image: url('/static/image/outline_can_move_here.svg'); }
hex.moved b         { background-image: url('/static/image/outline_moved.svg'); }
hex.placed b        { background-image: url('/static/image/outline_placed.svg'); }
hex.selected b      { background-image: url('/static/image/outline_selected.svg'); }

/* hex center colors */
hex.white { background-image: url('/static/image/white_hex.svg'); }
hex.black { background-image: url('/static/image/black_hex.svg'); }

/* hex figures */
hex.Queen i         { background-image: url('/static/image/queen.svg'); }
hex.Ant i           { background-image: url('/static/image/ant.svg'); }
hex.Spider i        { background-image: url('/static/image/spider.svg'); }
hex.Beetle i        { background-image: url('/static/image/beetle.svg'); }
hex.Grasshopper i   { background-image: url('/static/image/grasshopper.svg'); }
hex.Mosquito i      { background-image: url('/static/image/mosquito.svg'); }
hex.Ladybug i       { background-image: url('/static/image/ladybug.svg'); }
hex.Pillbug i       { background-image: url('/static/image/pillbug.svg'); }

/* table and board */
.table {
    width: 800px;
    height: 600px;
    overflow: hidden;
}

.board {
    position: relative;
}
