<!doctype html>

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="/resource/game.js"></script>

    <link rel="stylesheet" href="/resource/game.css" type="text/css" />

    <title>Улей</title>
</head>

<body>

<script>window.game_id = {{ game_id }};</script>

<div class="table">
    <div class="board">
    </div>
</div>

<form id="right">
    <div id="available_figures"></div>

    <p>Игрок</p>
    <div>
        <span id="your_player"></span>
    </div>

    <p>Доска</p>
    <div class="controls">
        <button class="left">&lArr;</button>
        <button class="right">&rArr;</button>
        <button class="up">&uArr;</button>
        <button class="down">&dArr;</button>

        <button class="in">+</button>
        <button class="out">&ndash;</button>

        <button id="show_hidden">👁</button>

        <div>
            <button id="debug_board">Отладочная доска</button>
        </div>
    </div>
</form>
