<!doctype html>

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" />
</head>

<body>

<h1>Офигенный улей</h1>

<script>window.game_id = {{ game_id }};</script>

<div class="table">
    <div class="board">
    </div>
</div>

<form id="right">
    <p>Добавить</p>

    <span class="add_piece" data-figure="Queen">Королева</span>
    <span class="add_piece" data-figure="Ant">Муравей</span>
    <span class="add_piece" data-figure="Spider">Паук</span>
    <span class="add_piece" data-figure="Beetle">Жук</span>
    <span class="add_piece" data-figure="Grasshopper">Кузнечик</span>
    <span class="add_piece" data-figure="Mosquito">Комар</span>
    <span class="add_piece" data-figure="Ladybug">Божья коровка</span>
    <span class="add_piece" data-figure="Pillbug">Мокрица</span>

    <p>Игрок</p>
    <div>
        <span id="your_player"></span>
    </div>

    <p>Доска</p>
    <div class="controls">
        <button class="left">&lArr;</button>
        <button class="right">&rArr;</button>
        <button class="up">&uArr;</button>
        <button class="down">&dArr;</button>
        <!--
            <button class="in">+</button>
            <button class="out">&ndash;</button>
        -->
    </div>
</form>
