{% extends 'aui_template.html' %}

{% block title %}
    Прихожая
{% endblock %}

{% block page_class %}
    aui-page-focused aui-page-size-small
{% endblock %}

{% block heading %}
    Прихожая
{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block content %}
    <p>Привет, {{ player_id }}</p>

    <div>
        {% if games.games %}
            Ваши игры:
            <ul>
                {% for game in games.games %}
                    <li><a href="{{ url_for('resume_game', game_id=game.gid) }}">
                        № {{ game.gid }}
                    </a></li>
                {% endfor %}
            </ul>
        {% else %}
            У вас нет начатых игр.
        {% endif %}
    </div>

    <hr>

    <div>
        <form class="aui" method="post" action="{{ url_for('start_game') }}">
            <button id="create_lobby" class="aui-button" name="game_type" value="create_lobby">Создать комнату</button>

            <a id="choose_opponent" class="aui-button">Выбрать противника</a>

            <div id="choose_opponent_block" style="display: none; margin-top: 8px">
                <input type="text" class="text" name="other_player_id" placeholder="С кем рубанём?">
                <button class="aui-button" name="game_type" value="direct_game">Начать игру</button>
            </div>
        </form>
    </div>
{% endblock %}
